<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Service.YoutubeFeed">
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/Service/"/>
          </baseAddresses>
        </host>
        <endpoint contract="Service.IYoutubeFeed" address="YoutubeFeed" binding="webHttpBinding" behaviorConfiguration="Service.YoutubeFeedBehavior"/>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Service.YoutubeFeedBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <userSettings>
    <Service.Properties.Settings>
      <setting name="ShortsConfig" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LiveConfig" serializeAs="String">
        <value>0</value>
      </setting>
    </Service.Properties.Settings>
  </userSettings>
</configuration>
